 h1 {
	font-size: 150px;
	color: #0c0c0c;
	margin: 0px;
	text-align: center;
    margin-bottom: 40px;
}

h2 {
	font-size: 60px;
	color: #d7b7b7;
	margin: 0px;
	text-align: center;
    margin-bottom: 40px;
}

p {
	font-size: 40px;
	color: #0c0c0c;
	margin: 0px;
	text-align: center;
    margin-bottom: 40px;
}

a {
	font-size: 40px;
	color: #0c0c0c;
	margin: 0px;
	text-align: center;
    margin-bottom: 40px;
}


body{
	background: url('logo.png') no-repeat center center fixed;
	background-size: cover;
}
.container input{
    height: 30px;
	width: 90%;
	border: 2px solid #0c0c0c;
	font-size: 15x;
	padding: 7px;
	text-align:center;
	font-style: italic;
	background-color:#a2b9cf;
	border: 2px solid #fff;
	border-radius:8px;
	border-color:#a2b9cf;
    margin-bottom: 20px;
    margin-top:5px;
	
}
div.container{
	margin: 0 auto;
	width: 300px;
	background: rgba(0,0,0,0);
	padding:50px;
	border: 2px solid #fff;
	border-radius:8px;
	border-color:#a2b9cf;
	text-align: center;
}

div.container h1 {
	font-size: 70px;
	color: #0c0c0c;
	margin: 0px;
	text-align: center;
}

button{
    font-size: 20px;
	padding: 7px;
	background: #0e0338;
	border: none;
	color:fff;
	margin-top:0px;
	margin-bottom: 0px;
	border-radius:8px;
}

button:hover{
	opacity: .7;
}